{% extends "struct.html" %}

{% block title %}{{ category }}{% if page != 'Main' %} - {{ page }}{% endif %}{% endblock title %}

{% block pageTitle %}{% if page != 'Main' %}{{ page }}{% else %}{{ category }}{% endif %}{% endblock pageTitle %}
{%  load staticfiles %}
<!--  start topSearch..................................................... -->
{% block topSearch %}
<!--
<div id="top-search">
        <table border="0" cellpadding="0" cellspacing="0">
        <tr>
        <td><input type="text" value="Search" onblur="if (this.value=='') { this.value='Search'; }" onfocus="if (this.value=='Search') { this.value=''; }" class="top-search-inp" /></td>
        <td>
        <select  class="styledselect">
                <option value=""> All</option>
                <option value=""> Products</option>
                <option value=""> Categories</option>
                <option value="">Clients</option>
                <option value="">News</option>
        </select>
        </td>
        <td>
        <input type="image" src="images/shared/top_search_btn.gif"  />
        </td>
        </tr>
        </table>
</div>
-->
{% endblock topSearch %}

<!--  start accountContent..................................................... -->
{% block accountContent %}
<!--
<div class="account-drop-inner">
        <a href="" id="acc-settings">Settings</a>
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="" id="acc-details">Personal details </a>
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="" id="acc-project">Project details</a>
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="" id="acc-inbox">Inbox</a>
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="" id="acc-stats">Statistics</a>
</div>
-->
{% endblock accountContent %}

<!--  start navMenu..................................................... -->
{% block navMenu %}

{% for curCategory in categoryList %}
<ul {% if category == curCategory.name %}class="current"{% else %}class="select"{% endif %}><li>
<a href="{{ curCategory.address }}">
<b>{{ curCategory.name }}</b>
<!--[if IE 7]><!--></a><!--<![endif]-->
<!--[if lte IE 6]><table><tr><td><![endif]-->
<div {% if category == curCategory.name %}class="select_sub show"{% else %}class="select_sub"{% endif %}>
        <ul class="sub">
            <li {% if page == 'Main' %}class="sub_show"{% endif %}>
                <a href="{{ curCategory.address }}">{{ curCategory.name }}</a>
            </li>
            {% for curPage in curCategory.pages %}
            <li {% if page == curPage.name %}class="sub_show"{% endif %}>
                <a href="{{ curPage.address }}">{{ curPage.name }}</a>
            </li>
            {% endfor %}
        </ul>
</div>
<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
</ul>
<div class="nav-divider">&nbsp;</div>
{% endfor %}

{% endblock navMenu %}

<!--  start footerContent..................................................... -->
{% block footerContent %}
Owade <a href="">http://www.owade.org</a>
{% endblock footerContent %}