/* 
    Document   : perso
    Created on : Jun 2, 2011, 5:23:30 PM
    Author     : ashe
    Description:
        Purpose of the stylesheet follows.
*/


/*******************************************************************************
Cool button from http://dave.abovebored.co.uk/post/5366867789/hardest-button-to-button
*******************************************************************************/
.button_launch {
    border: none;
    background: #00B6FF;
    color: #fff;

    /* You need to set font, font size and cursor for buttons */
    font-size: 15px;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    cursor: pointer;

    padding: 8px 13px;
    font-weight: bold;
}
.button_launch {
    border-radius: 5px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow:
        0 0 0 1px #0086ba inset, /* Outer bevel */
        0 0 0 2px #6cdcea inset, /* Inner bevel */
        0 30px 20px -18px rgba(255,255,255,0.65) inset, /* Inner gradient */
        1px 1px 3px rgba(0,0,0,0.2) /* Drop shadow */
    ;

    -webkit-border-radius: 5px;
    -webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow:
        0 0 0 1px #0086ba inset, /* Outer bevel */
        0 0 0 2px #6cdcea inset, /* Inner bevel */
        0 30px 20px -18px rgba(255,255,255,0.65) inset, /* Inner gradient */
        1px 1px 3px rgba(0,0,0,0.2) /* Drop shadow */
    ;
}
.button_cancel {
    border: none;
    background: #9E9E9E;
    color: #fff;

    /* You need to set font, font size and cursor for buttons */
    font-size: 15px;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    cursor: pointer;

    padding: 8px 13px;
    font-weight: bold;
}
.button_cancel {
    border-radius: 5px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow:
        0 0 0 1px #9E9E9E inset, /* Outer bevel */
        0 0 0 2px #9E9E9E inset, /* Inner bevel */
        0 30px 20px -18px rgba(255,255,255,0.65) inset, /* Inner gradient */
        1px 1px 3px rgba(0,0,0,0.2) /* Drop shadow */
    ;

    -webkit-border-radius: 5px;
    -webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow:
        0 0 0 1px #9E9E9E inset, /* Outer bevel */
        0 0 0 2px #9E9E9E inset, /* Inner bevel */
        0 30px 20px -18px rgba(255,255,255,0.65) inset, /* Inner gradient */
        1px 1px 3px rgba(0,0,0,0.2) /* Drop shadow */
    ;
}


/*******************************************************************************
FORMS
*******************************************************************************/
.textWrapper {
}
.textWrapper label {
    color: #000
}
.textWrapper input {
    background: url(../images/forms/form_inp.gif) no-repeat;
    border: none;
    color: #393939;
    height: 25px;

    padding: 6px 6px 0 6px;
    width: 186px;
}

#quickmenu {
    /*border: 1px solid red;*/
    position: absolute;
    left: 10px;
    top: 265px;


}

a.quickmenu{
    font-weight: normal;
    font-size: 14px;
}
td {
    padding-right: 5px;
    padding-bottom: 5px;

}
/*******************************************************************************
RESULT
*******************************************************************************/

ul {
    list-style-type:none;
}

li {
   margin-top: 8px;
   margin-bottom: 8px;
}


li a{
   color: #333;
   /*font-weight: bold;*/
   font-size: 18px;
   margin-top: 3px;
   margin-bottom: 3px;
}
li a:hover{
    border-bottom : 2px solid;
    cursor: pointer;
    color: #92B22C;
}